.contact-container {
    float: left;
    width: 90%;
    margin: 20px 5%;
    padding: 30px;
    background-color: #001f3fef;
    border-radius: 15px;
    box-shadow: 6px 6px 10px 5px rgb(185, 183, 183);
}


.contact-container h1 {
    color: #ffffff;
    font-size: 2.5em;
    padding-bottom: 15px;
    border-bottom: 3px solid #9C7945;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
}

.location, .number, .email {
    width: 30%;
    min-width: 250px;
    text-align: center;
    padding: 20px;
}

.location h2, .number h2, .email h2 {
    font-size: 1.5em;
    color: #d8dcdd;
    margin-top: 10px;
}

.location p, .number p, .email p {
    color: #d7ca9a;
    font-size: 1.1em;
}

.contact-image {
    width: 50px;
    margin-bottom: 10px;
}


.contact-form {
    margin-top: 40px;
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    justify-self: center;
}

.contact-form h2 {
    color: #ffffff;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.inputBox input, .inputBox textarea {
    width: 95%;
    padding: 12px;
    background: transparent;
    border: 2px solid #dc901f96; 
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    font-size: 1em;
    overflow: auto; 
    scrollbar-width: none; 
}

.inputBox {
    position: relative;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.inputBox span {
    font-size: 1em;
    color: #d7ca9a;
    margin-bottom: 5px; 
    text-align: left;
}

.inputBox input[type="submit"] {
    background: #9C7945;
    color: #ffffff;
    border: none;
    cursor: pointer;
    
}

.inputBox input[type="submit"]:hover {
    background: #b08c5b;
}

