.event-banner{
    margin: 40px;
    padding: 30px;
    overflow-x: auto;
}
#upcomingEvents{
    display: flex;
    text-align: center;
    margin: 10px auto;  
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center; 
}
#firstHalf, #secondHalf {
    display: inline-block;  
    vertical-align: baseline; 
}
#firstHalf{
    color: #012e5b;
    width: 50%;
    display: inline;
}
#secondHalf{
    color: #9C7945;
    width: 50%;
    display: inline;
}

.title-container {
    width: 100%;
    margin-bottom: 50px; 
    text-align: center;
}

.title-container h2 {  
    font-size: 3rem;
    display: inline;  
    margin-bottom: 50px; 
}

#upcomingEvents hr {
    width: 100%;
    border: 2px solid;
    margin: 10px 0px;
}

.event-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
}

.event-card {
    flex: 0 0 calc(25% - 20px);
    max-width: 350px;
    min-width: 250px;
}

/* Responsive design */
@media screen and (max-width: 1024px) {
    .event-card {
        flex: 0 0 calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .event-banner {
        margin: 20px;
        padding: 15px;
    }
    
    .event-card {
        flex: 0 0 100%;
    }
}