

.login-register{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-data{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}


.login-register .form-data input{
    padding: 8px;
    text-align: center;
    border: none;
    border-bottom: solid 2px #d2d0d0;
}

.terms{
    
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    font-size: small;
}
.terms label{
    
    font-size: 9pt;
    text-align: left;
    padding: 6px;
    font-family: serif;
}
.terms label a{
    color: blue;
}
.login-register button{
    width: 100%;
    background-color: #5d4c02;
    color: white;
    padding: 10px;
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(99, 102, 142, 0.7);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin: 5px;
}