.Maps{
    padding: 150px 40px 40px 40px;
    
}
.geoBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 300px;
}
.geoBar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.geoBar ul li{
    padding: 15px;
    border-radius: 10px;
    color: black;
}

.geoBar ul li:hover{
    cursor: pointer;
    background-color: rgb(54, 53, 54);
    color: rgb(252, 250, 250);
}

.floorOptions{
    background-color: #bf9b66;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 5px rgb(185, 183, 183);
}
