.Explore{
    margin: 0px 0px 40px 0px;
}
.main-flex{
    width: 99%;
    margin: auto;
}

#main-img{
    width: 55%;
    float: left;
}
#grad{
    height: 480px;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    
    width: 45%;
    height: 500px;
}
#box2{
    height: 50%;
    background-color: #eaebe8 ;
    
}
#box1{
    height: 50%;
    background-color:  #001F3F;
    border-left: solid #B99663 4px;
}
